h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Francois One', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}
p {
    font-family: verdana;
    font-size: 20px;
}
